header {
    background-image: radial-gradient(circle, #050c30, #00457b, #00839c, #00bf7a, #98f00f);
    padding-top: 1rem;
}
.contHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contImgLogo{
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgLogo{
    width: 75px;
}
.titleLogo{
    width: 50%;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 3px 2px 3px #00ffa2;
    font-size: 2rem;
    font-weight: bold;
    font-style: italic;
}