nav {
    background-image: radial-gradient(circle, #050c30, #00457b, #00839c, #00bf7a, #98f00f);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.2rem 0;
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 1.3rem;
}

nav ul li a:hover {
    color: black;
    background-color: rgb(255, 255, 255);
}

nav ul li a.activo {
    background-image: radial-gradient(circle, #00839c, #00bf7a, #98f00f);
}

